<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dictionary</title>
    <link rel="icon" type="image/x-icon" href="/images/dictionary.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@2,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/dic.css">
</head>




<body class="shine">
    <audio id="sound"></audio>
    <p>Find your meanings</p>
    <div class="container">
        <div class="search-box">
            <input type="text" placeholder="Search a word here.." id="input-word">
            <i class="fa fa-search"></i>
            <button id="search-btn">Search</button>
        </div>
        <div class="result" id="result"></div>
    </div>
    <script src="./js/dic.js"></script>
</body>
</html>